.static-header.about-header
	.container
		%h1.centered The History of RenderApps

.container
	.row
		%p.lead
			Founded by the MIT renegade developer, Bobby Ren, RenderApps is powered by passion and wants to bring your ideas to life. Founded by the MIT renegade developer, Bobby Ren, RenderApps is powered by passion and wants to bring your ideas to life. Founded by the MIT renegade developer, Bobby Ren, RenderApps is powered by passion and wants to bring your ideas to life. Founded by the MIT renegade developer, Bobby Ren, RenderApps is powered by passion and wants to bring your ideas to life. 
			%br
			%br
			Founded by the MIT renegade developer, Bobby Ren, RenderApps is powered by passion and wants to bring your ideas to life. Founded by the MIT renegade developer, Bobby Ren, RenderApps is powered by passion and wants to bring your ideas to life. Founded by the MIT renegade developer, Bobby Ren, RenderApps is powered by passion and wants to bring your ideas to life. Founded by the MIT renegade developer, Bobby Ren, RenderApps is powered by passion and wants to bring your ideas to life. 
			Founded by the MIT renegade developer, Bobby Ren, RenderApps is powered by passion and wants to bring your ideas to life. 
			Founded by the MIT renegade developer, Bobby Ren, RenderApps is powered by passion and wants to bring your ideas to life. 
	
	- 5.times do
		%br