- content_for :title, "We Help Companies Build Their Apps | App Development is Our Passion"
- content_for :description, "The story of why these app developers teamed up to build an app development company that wants to build your apps."

.static-header.about-header
	.container
		%h1.centered The History of RenderApps

.container
	.row
		.col-sm-8.offset-sm-2
			%p.lead
				In 2014 Bobby took on a side project as a hobby: to build 12 apps in 12 months. He was full of ideas for mobile apps and wanted to make them come to life. It promised to be a great learning experience in creating a product from start to finish and managing the ins and outs of an app business.
				%br
				%br
				One of these apps was the brainchild of Fredson Gomes, at the time, a young father.  Fredson wanted to hire Bobby as a developer for an app that could capture the moments of his family. They got together, worked out the features and came up with a preliminary design. The project, however, didn't get as far off the ground forcing both to move on to other endeavors.
				%br
				%br
				Fredson had now been bitten by the bug and couldn't stop thinking about the business of technology. Bobby, having gained so much experience from releasing projects into the App Store, was eager to apply his unique skill-set to a more viable business. The next time these two met up, it was to discuss how to improve the process and to focus on selling their personal experiences in creating apps and managing businesses. It was also with a mutual interest in creating products that were socially beneficial, and not just another app for instant gratification.
				%br
				%br
				RenderApps was thus founded in the winter of 2015. After signing their first client in an innovation-themed cafe near East Cambridge's tech centers, the two knew that they would be tasked with building incredible mobile apps. Since then they have worked with great designers, product visionaries, and skilled developers.
				%br
				%br
				RenderApps has recently expanded into new fields that promise endless new innovations. While their core competency is still the fast prototyping and validation of iPhone apps, they have a lot of experience in working with virtual reality.  Render is also exploring augmented reality and chat bots, particularly in the areas of gaming and education while staying true to their original mission of contributing to civic technology.
	- 5.times do
		%br