.static-header.careers-header
	.container
		%h1.centered Careers

.container
	%h2.centered Open Positions
	%br
	%p.lead.centered
		If you're interested in working with us, please send an email to
		= link_to 'info@renderapps.io', 'mailto:info@renderapps.io'
	%hr.large-margin-hr
	.row
		.col-sm-4
			%h3 Mobile Developers
		.col-sm-8
			%p.f300
				We are always looking to add to our team of developers.  We are looking for people who take pride in their work and who are not afraid to stretch their thinking. 
	%hr.large-margin-hr
	.row
		.col-sm-4
			%h3 UX Design
		.col-sm-8
			%p.f300
				If you are looking to gain experience in mobile design, RenderApps wants to hear from you.  If you already have skills in design, come join us.
	%hr.large-margin-hr
	
	- 5.times do
		%br