.static-header.team-header
	.container
		%h1.centered Our Team

.container
	.row
		.col-sm-4
			= image_tag '', class: 'fluid-img team-img'
		.col-sm-8
			%h3 Bobby Ren
			%p.f300
				We are always looking to add to our team of developers.  We are looking for people who take pride in their work and who are not afraid to stretch their thinking. 
	%hr.large-margin-hr
	.row
		.col-sm-4
			= image_tag '', class: 'fluid-img team-img'
		.col-sm-8
			%h3 Fredson Gomes
			%p.f300
				We are always looking to add to our team of developers.  We are looking for people who take pride in their work and who are not afraid to stretch their thinking. 
	%hr.large-margin-hr
	.row
		.col-sm-4
			= image_tag '', class: 'fluid-img team-img'
		.col-sm-8
			%h3 Kyle Rand
			%p.f300
				We are always looking to add to our team of developers.  We are looking for people who take pride in their work and who are not afraid to stretch their thinking. 
	%hr.large-margin-hr
	.row
		.col-sm-4
			= image_tag '', class: 'fluid-img team-img'
		.col-sm-8
			%h3 Robinson Grieg
			%p.f300
				We are always looking to add to our team of developers.  We are looking for people who take pride in their work and who are not afraid to stretch their thinking. 
	
	- 5.times do
		%br