- content_for :title, "Our App Development Team Loves to Build Mobile Apps | RenderApps"
- content_for :description, "We're an app development company located in Boston and Philadelphia specializing in mobile, web, iOS, and virtual reality apps development."

.static-header.team-header
	.container
		%h1.centered Our Team

.container
	.row{ style: 'margin-bottom: 50px'}
		.col-sm-4
			= image_tag 'team/bobby.jpg', class: 'fluid-img team-img'
		.col-sm-8
			%h3 Bobby Ren
			%p.f300
				Bobby started developing iOS apps at TechStars Boston. He currently runs RenderApps, a mobile app prototyping and development company. His interests include health and fitness apps, medical and educational products, and virtual reality. He is relatively new to Philadelphia, having worked in Boston and San Francisco in the past. He is currently fascinated in virtual reality as an education and story telling tool.
	.row
		.col-sm-4
			= image_tag 'team/fredson.jpg', class: 'fluid-img team-img'
		.col-sm-8
			%h3 Fredson Gomes
			%p.f300
				Fredson launched his first business venture back in 2009.   With the success came a love for early stage startups and taking them from "0-1".  He is currently the cofounder of RenderApps focusing on business development but wears many hats for the small software development firm.  Fredson and his family recently purchased a home in Boston and is a proud Bostonian!
	%hr.large-margin-hr
		%p.lead
			We are always looking to add to our team of developers.  We are looking for people who take pride in their work and who are not afraid to stretch their thinking. 
	
	- 5.times do
		%br