%p
	Hey Fredson,
%p
	Good news - new lead through renderapps.io!
	%br/
%p
	Info:
%ul
	%li
		%strong Name:
		= lead.name
	%li
		%strong email:
		= lead.email
	%li
		%strong Subject:
		= lead.topic
	%li
		%strong Message:
		= lead.message

