$primary-blue: #086788;
$secondary-blue: #07A0C3;
$white: #FFFDF9;

section#contact-section {
	background-color: $primary-blue;
	color: $white;
	margin: 0;
	min-height: 100vh;

	.contact-container {
		height: 100%;

		.left-half {
			h1 {
				margin: 70px;
				float: right;
				// font-size: 61px;
			}
		}

		.right-half {
			background-color: $secondary-blue;
			padding: 70px;

			h2 {
			}
		}
	}
}

@media all and (max-width:767px) {
	section#contact-section {

		.contact-container {
			.left-half {
				display: none;
			}

			.right-half {
				padding: 30px;
			}
		}
	}
}