* {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

h1, h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

.centered {
	text-align: center;
}

.bold {
	font-weight: 500;
}


.technology-icon {
	font-size: 40px;
	color: #07A0C3;
	display: block;
	text-align: center;
}