.static-header {
	padding: 200px 0;
	text-align: center;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin-bottom: 100px;

	h1 {
		font-size: 50px;
	}
}

.careers-header {
	background-image: asset-url('heros/rendering5.png');
	background-size: cover;
	color: white;
}

.team-header {
	background-image: asset-url('heros/rendering5.png');
	background-size: cover;
	color: white;
}

.about-header {
	background-image: asset-url('heros/rendering5.png');
	background-size: cover;
	color: white;
}

.large-margin-hr {
	margin: 50px 0;
}