$header-height: 0px;

a.anchor {
  display: block;
  height: 0;
  position: relative;
  top: -($header-height);
  width: 0;
  visibility:hidden;
}

.btn-primary {
	background-color: #BA2D0B;
	border-color: #d9534f;
	padding: 10px 30px;

	&:hover,
	&:active {
		background-color: darken(#BA2D0B, 5%);
		border-color: darken(#d9534f, 5%);
	}
}

.footer a {
	display: inline-block;
	margin-bottom: 5px;
	color: white;

	&:hover,
	&:active {
		color: #07A0C3;
		text-decoration: none;
	}
}