.container
  = link_to 'RenderApps', root_path, class: 'navbar-brand', style: 'padding: .425rem 0; color: white;'
  %ul.nav.navbar-nav{style: 'float: right'}
    %li.nav-item
      = link_to 'Hire Us', contact_path, class: 'btn btn-primary'