.container
  = link_to root_path, class: 'navbar-brand', style: 'color: white;' do
    = image_tag 'renderapps_logo2.png', style: 'height: 30px; float: left;'
    %span.pull-right{ style: 'margin: 10px 0 0 10px;'} RenderApps
  %ul.nav.navbar-nav{style: 'float: right'}
    %li.nav-item
      = link_to 'Hire Us', contact_path, class: 'btn btn-primary'