.container
  %a.navbar-brand{href: "#", style: 'padding: .425rem 0'} RenderApps
  %ul.nav.navbar-nav
    %li.nav-item.active#nav-passion
      = link_to 'Our Passion', '#passion', class: 'nav-link'
    %li.nav-item#nav-services
      = link_to 'Our Services', '#services', class: 'nav-link'
    %li.nav-item#nav-why
      = link_to 'Why RenderApps', '#why-us', class: 'nav-link'
  %ul.nav.navbar-nav.navbar-right{style: 'display:none'}
    = render 'layouts/navigation_links_right'
  / /.nav-collapse
